<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rsync.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>596ED73A0FD5A75D00CCB493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596ED7410FD5A79F00CCB493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596ED9090FD5E57600CCB493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596ED9120FD5E5A800CCB493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596ED9350FD5E74700CCB493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596ED9640FD5E84800CCB493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596ED9760FD5E89A00CCB493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596ED98A0FD5E8E900CCB493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596ED9A30FD5E9BE00CCB493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76FA90486AB0100D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
